<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 mx-auto">
  <table class="table table-border-bottom form-inline">
    <tbody>
      <tr>
        <td>
          <%= link_to user_path(visitor), class: "text-dark" do %><strong><%= visitor.nick_name %>さん</strong>が<% end %>
          <% case notification.action %>
          <% when 'follow' then %>
            <%= "あなたをフォローしました" %>
          <% when  'favorite' then %>
            <%= link_to 'あなたの投稿', notification.log, class: "text-dark", style: "font-weight: bold;" %><%= "にいいねしました" %>
          <% when 'comment' then %>
            <%= link_to "あなたの投稿", notification.log, class: "text-dark", style: "font-weight: bold;" %>
            <span>
              <%= "にコメントしました" %>
              <p class="text-secondary"><%= LogComment.find_by(id: notification.log_comment_id).comment %></p>
            </span>
          <% else %>
            <%= link_to "あなたにメッセージ", notification.room, class: "text-dark", style: "font-weight: bold;" %>
            <span>
              <%= "を送信しました" %>
              <p class="text-secondary"><%= Message.find_by(id: notification.message_id).content %></p>
            </span>
          <% end %>
          <small class="text-right text-muted"><%= time_ago_in_words(notification.created_at).upcase %>
        </td>
      </tr>
    </tbody>
  </table>
</div>