<div class="container all">
  <h1 class="logo text-center mb-5"><%= @user.nick_name %> Dive Profile</h1>
  <div class="row">
    <div class="col"></div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <table class="table table-bordered table-hover">
        <tbody class="text-center">
          <tr class="bg-light">
            <th>ライセンスランク</th>
          </tr>
          <tr><td><%= @user.license_rank %></td></tr>
          <tr class="bg-light"><th>累計潜水本数</th></tr>
          <tr>
            <td>
              <% @sum = 0 %>
              <% @log.each do |log|%>
                <% @sum += log.dive_number.to_i %>
              <% end %>
              <%= @sum %> 本
            </td>
          </tr>
          <tr class="bg-light"><th>最高潜水深度</th></tr>
          <tr>
            <td><%= @log.maximum(:dive_depth) %> M</td>
          </tr>
          <tr class="bg-light">
            <th>一番の思い出ポイント</th>
          </tr>
          <tr>
            <td><%= @user.best_point %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2>思い出画像</h2>
      <%= attachment_image_tag @user, :best_point_image, size: "300x300" %>
    </div>
  </div>
</div>