<div class="container all">
  <div class="row">
    <div class="col-md-12">
      <%= form_with model: @user, local: true do |f| %>

      <div class="form">
        <%= f.label :プロフィール画像 %><br />
        <%= f.attachment_field :profile_image %>
      </div>

      <div class="form">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :nick_name, class: "form-control" %>
      </div>

      <div class="form">
        <%= f.label :自己紹介 %><br />
        <%= f.text_field :introduction, class: "form-control" %>
      </div>

      <div class="form">
        <%= f.label :ダイビングライセンス %><br />
        <%= f.text_field :license_rank, class: "form-control" %>
      </div>

      <div class="form">
        <%= f.label :一番の思い出ポイント %><br />
        <%= f.text_field :best_point, class: "form-control" %>
      </div>

        <%= f.submit '編集する', class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>