<div class="container all text-dark">
  <div class="row">
    <div class="col-md-10 offset-sm-1 border border-light shadow-lg pt-4 pb-4" style="background: #DEF3F7;">
      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <h1 class="logo text-center mb-5">Edit Profile</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center text-danger mb-5">
          <% if @user.errors.any? %>
            <strong><%= @user.errors.count %>件のエラーが発生しました</strong><br />
            <% @user.errors.full_messages.each do |message| %>
              <%= message %><br />
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 offset-sm-3">
          <%= form_with model: @user, local: true do |f| %>

          <div class="form">
            <%= f.label :プロフィール画像 %><br />
            <%= f.attachment_field :profile_image %>
          </div>

          <div class="form">
            <%= f.label :ニックネーム %><br />
            <%= f.text_field :nick_name, class: "form-control" %>
          </div>

          <div class="form">
            <%= f.label :自己紹介 %><br />
            <%= f.text_field :introduction, class: "form-control" %>
          </div>

          <div class="form">
            <%= f.label :ダイビングライセンス %><br />
            <%= f.text_field :license_rank, class: "form-control" %>
          </div>

          <div class="form">
            <%= f.label :一番の思い出ポイント %><br />
            <%= f.text_field :best_point, class: "form-control" %>
          </div>

          <div class="form">
            <%= f.label :思い出画像 %><br />
            <%= f.attachment_field :best_point_image %>
          </div>

          <div class="row edit-btn">
            <div class="col-sm-6 offset-sm-3">
              <%= f.submit '編集', class: "btn edit-btn-gradation rounded-pill" %>
            </div>
          </div>

          <% end %>

          <div class="row danger-btn">
            <div class="col-sm-6 offset-sm-3">
              <%= link_to unsubscribe_user_path, class: "btn danger-btn-gradation rounded-pill" do %>退会画面へ<% end %>
            <div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>