<div class="container all">
  <div class="row mt-5">
    <div class="col-lg-6 offset-md-3">

      <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
          <h2>follower</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
          <% @follower.each do |follower| %>
            <%= link_to user_path(follower.id), class: "text-dark" do %>
              <%= attachment_image_tag follower, :profile_image, size: "50x50", class: "rounded-circle" %>
              <% if follower.nick_name %>
                <span><strong><%= follower.nick_name %></strong><small> by  <%= follower.name %></small></span>
              <% else %>
                <%= follower.name %>
              <% end %>
            <% end %>

            <% if current_user != follower %>
              <span class="ml-2" id="follow_<%= follower.id %>">
                <%= render 'relationships/follow', user: follower %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>