<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= attachment_image_tag @user, :profile_image, size: "100x100", class: "rounded-circle" %>
    </div>
    <div class="col-md-6">
      <% if @user.nick_name %>
        <%= @user.nick_name %><br />
        <small>by  <%= @user.name %></small>
      <% else %>
        <%= @user.name %>
      <% end %>
      <p>フォロー数</p>
      <p>フォロワー数</p>
    </div>
  </div>

  <div class="row">
    <%= @user.introduction %>
  </div>

  <div class="row">
    <% if @user == current_user %>
      <%= link_to 'プロフィール編集', edit_user_path(@user.id), class: "btn btn-success" %>
    <% end %>
  </div>

  <div class="row">
    <%= link_to 'ダイブプロフィール', dive_profile_user_path(@user.id), class: "btn btn-primary" %>
  </div>

  <div class="row">
    <% @user.logs.each do |user_log| %>
      <div class="col-lg-4 mt-5">
        <%= link_to log_path(user_log.id) do %><%= attachment_image_tag user_log, :log_image, size: "300x300" %><% end %>
      </div>
    <% end %>
  </div>

</div>