<div class='row mb-3'>
  <div class='col-sm-6 offset-sm-3 text-center'>
    <h1 class='logo pr-5'>Search Result</h1>
  </div>
</div>

<div class='row'>
  <% logs.each do |log| %>
    <div class='col-sm-4 mb-2'>
      <%= link_to log_path(log) do %>
        <div class='row mb-3'>
          <strong><span class='text-dark'>【<%= log.title %>】</span></strong><br />
        </div>
        <div class='row'>
          <%= attachment_image_tag log, :log_image, size: '200x200' %>
        </div>
      <% end %>
        <div class='row text-dark'>
          <%= link_to user_path(log.user.id), class: "text-dark" do %><%= log.user.nick_name %><% end %>
        </div>

    </div>
  <% end %>
</div>