<div class="container all">
  <div class="row">
    <div class="col-sm-12">

      <div class="row mb-4">
        <div class="col-sm-6 offset-sm-3 text-center">
          <h1 class="logo">Search Memory</h1>
        </div>
      </div>

      <div class="row search mb-5">
        <div class="col-sm-5 offset-sm-3 pt-2">
          <%= form_with model: Log.new, url: search_ranks_path, method: :get, id: "search" do |f| %>
          <%= f.text_field :keyword, required: true, id: "form", placeholder: "投稿タイトル", class: "form-control" %>
        </div>
        <div class="col-sm-1 pb-2">
          <%= f.submit '🔍', class: "btn search-btn" %>
        </div>
          <% end %>
      </div>

      <div class="row">
        <div class="col-sm-10 offset-sm-1">
          <ul id="result">
            <div class='row mb-5'>
              <div class='col-sm-6 offset-sm-3 text-center'>
                <h1 class='logo pr-5'><i class="fas fa-crown text-warning"></i>Ranking</h1>
              </div>
            </div>
            <% @ranking.each.with_index(1) do |rank, i| %>
              <div class="row mx-auto rank mb-3">
                <div class="col-sm-6 text-center">
                  <% if i == 1 %>
                    <span class="award text-warning"><i class="fas fa-award"></i><%= i %></span>
                  <% elsif i == 2 %>
                    <span class="award text-secondary"><i class="fas fa-award"></i><%= i %></span>
                  <% else  %>
                    <span class="award" style="color: #BA6E40;"><i class="fas fa-award"></i><%= i %></span>
                  <% end %>
                  <strong><%= rank.impressionist_count %>PV</strong><br />
                  <%= link_to log_path(rank.id) do %>
                    <%= attachment_image_tag rank, :log_image, size: "250x250", class: "image-fluid" %>
                  <% end %>
                </div>
                <div class="col-sm-6">
                  <strong>【<%= rank.title %>】</strong><br />
                  <%= link_to user_path(rank.user.id) do %>
                    <%= attachment_image_tag rank.user, :profile_image, size: "50x50", class: "rounded-circle" %>
                    <%= rank.user.name %><br />
                  <% end %>
                  <%= rank.body %>
                </div>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>