<div class="container all">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <div class="row mb-4">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 text-center">
          <h1 class="logo">Search Memory</h1>
        </div>
      </div>

      <div class="row search mb-5">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 pt-2">
          <%= form_with model: Log.new, url: search_ranks_path, method: :get, id: "search" do |f| %>
          <%= f.text_field :keyword, required: true, id: "form", placeholder: "投稿タイトル", class: "form-control" %>
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pb-2">
          <%= f.submit 'Search', class: 'btn search-btn mt-2' %>
        </div>
          <% end %>
      </div>

      <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
          <ul id="result">
            <div class='row mb-5'>
              <div class='col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 text-center'>
                <h1 class='logo pr-5'><i class="fas fa-crown text-warning"></i>Ranking</h1>
              </div>
            </div>

            <% @ranking.each.with_index(1) do |rank, i| %>
              <div class="row mx-auto rank mb-3">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                  <% if i == 1 %>
                    <span class="award text-warning"><i class="fas fa-award"></i><%= i %></span>
                  <% elsif i == 2 %>
                    <span class="award text-secondary"><i class="fas fa-award"></i><%= i %></span>
                  <% else  %>
                    <span class="award" style="color: #BA6E40;"><i class="fas fa-award"></i><%= i %></span>
                  <% end %>
                  <strong><%= rank.impressionist_count %>PV</strong><br />
                  <%= link_to log_path(rank.id) do %>
                    <%= attachment_image_tag rank, :log_image, :fill, 250, 250, size: "250x250" %>
                  <% end %>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <strong>【<%= rank.title %>】</strong><br />
                  <%= link_to user_path(rank.user.id) do %>
                    <%= attachment_image_tag rank.user, :profile_image, size: "50x50", class: "rounded-circle" %>
                    <span class="text-dark"><%= rank.user.name %></span><br />
                  <% end %>
                  <%= rank.body %>
                </div>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>