<div id="rippler" style="background-color: #B0E0E6;">
<div class="start">
  <p class="logo">WELCOMEtoDivIn!!</p>
</div>

<div class="image img-fluid">
  <%= image_tag 'sea-view13.jpeg', class: "top-image" %>
</div>


<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div style="z-index: 8000; height: 300px; width: 100%; position: relative;">
				<div class="top" style="position: absolute; top: 0; left: 60;">
	        <section class="text1 scroll-block fade-block2-1">
	          <h2>DivInとは?</h2>
	          <p>
	            自分のダイビング記録を思い出と<br />
	            一緒に残すことができるよ<br />
	          </p>
	        </section>
	      </div>
			</div>
		</div>
	</div>
</div>

<div class="container">
<div class="img-fluid ripples-image scroll-block fade-block2-2 slide-image1" style="width: 100%; height: 500px"></div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div style="z-index: 8000; height: 300px; width: 100%; position: relative;">
				<div class="top" style="position: absolute; top: 0; right: 60;">
	        <section class="text2 scroll-block fade-block2-3">
	          <h2>どんなことができるの？</h2>
	          <p>
	            その日のダイビングログを残せたり<br />
	            みんなの投稿やダイバー情報も見れるよ！<br />
	          </p>
	        </section>
        </div>
      </div>
		</div>
	</div>
</div>

<div class="container">
<div class="img-fluid ripples-image scroll-block fade-block2-1 slide-image2" style="width: 100%; height: 650px;"></div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div style="z-index: 8000; height: 300px; width: 100%; position: relative;">
				<div class="top" style="position: absolute; top: 0; left: 60;">
	        <section class="text3 scroll-block fade-block2-1">
	          <h2>ダイバーじゃなくても使える？</h2>
	          <p>
	            もちろん！いろんな投稿を見て<br />
	            海の素晴らしさを知っていこう！<br />
	          </p>
	        </section>
	      </div>
      </div>
		</div>
	</div>
</div>

<div class="container">
<div class="ripples-image scroll-block fade-block2-2 slide-image3" style="width: 100%; height: 650px;"></div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="go">
        <h1 class="scroll-block fade-block text-light">さぁ、君も始めてみよう！！</h1>
      </div>
		</div>
	</div>
</div>


<div class="container">
	<div class="container slide">
		<div class="row">
			<div class="col-sm-12">
				<h4 class="slide-title text-center">New  Content</h4>
				<div class="slider text-center">
					<% @logs.reverse.first(6).each do |log| %>
					  <%= link_to log_path(log.id), class: "text-dark" do %>
					    <%= attachment_image_tag log, :log_image, size: "324x200", class: "slick-img mr-3" %>
					    【<%= log.title %>】
					  <% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="ripples footer-image" style="padding-top: 25px; padding-bottom: 100px;">
	<div class="container">
		<div class="row touroku text-center">
			<div class="col-sm-12">
				<h2 class="slide-title text-light">Account</h2>
				<div class="row">
					<div class="col-sm-6 text-dark" style="font-size: 25px;"><strong>新規登録はこちらから</strong></div>
					<div class="col-sm-6 text-dark" style="font-size: 25px;"><strong>会員の方はこちらから</strong></div>
				</div>
				<div class="row">
					<div class="col-sm-6 custom-btn"><%= link_to new_user_registration_path, class: "btn btn-gradation rounded-pill" do %>新規登録<% end %></div>
					<div class="col-sm-6 edit-btn"><%= link_to new_user_registration_path, class: "btn edit-btn-gradation rounded-pill" do %>ログイン<% end %></div>
				</div>
			</div>
	  </div>
	</div>
</div>
</div>

