<div class="container all">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 border border-dark form_in">

      <h2 class="start-title text-center">Log in</h2>

      <div class="row flash text-center text-danger">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xs-2 offset-sm-2 offset-md-2 offset-lg-2">
          <%= render 'devise/shared/error_messages', resource: resource %>
        </div>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control #{"is-invalid" if resource.errors.include?(:name)}" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control #{"is-invalid" if resource.errors.include?(:password_confirmation)}"  %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="row mt-4">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 offset-xs-4 offset-sm-4 offset-md-4 offset-lg-4 text-center">
            <span class="btn-border2"><%= f.submit "Log in", class: "btn" %><br /><i class="fas fa-arrow-alt-circle-right pb-2"></i></span>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 offset-xs-4 offset-sm-4 offset-md-4 offset-lg-4 text-center">
            <span class="btn-border2"><%= link_to users_guest_sign_in_path, method: :post, class: "btn" do %>Guest Log in<% end %><br /><i class="fas fa-arrow-alt-circle-right pb-2"></i></span>
          </div>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
