<div class="container all">
  <div class="row">
    <div class="col-sm-12">

      <div class="row mb-5">
        <div class="col-md-8 offset-sm-2">
          <div class="new_message">
            <%= link_to rooms_path, class: "btn back-btn" do %><strong><i class="fas fa-chevron-left"></i></strong><% end %>
            <% @entry.each do |e| %>
              <% unless e.user == current_user %>
                <%= attachment_image_tag e.user, :profile_image, size: "70x70", class: "rounded-circle" %>
                <strong><span class="message_my_name"><%= e.user.name %></span></strong>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 offset-sm-2">
          <div class="message">
            <% @messages.each do |message| %>
              <% if message.user_id == current_user.id %>
                <div class="mycomment mt-1 mb-1">
                  <p class="my-dm ml-auto"><%= message.content %></p>
                </div>
              <% else %>
                <p class="other-dm"><%= message.content %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col"></div>
        <div class="col-md-7 offset-sm-1">
          <div class="new_message form-group">
          <%= form_with model: @message, url: messages_path, method: :post do |f| %>
            <%= f.text_field :content, class: "form-control", id: "new_message" %>
            <%= f.hidden_field :room_id, value: @room.id %>
          </div>
        </div>
          <div class="col-sm-2">
            <%= f.submit '⬆︎', class: "btn message-btn rounded-circle text-white" %>
          </div>
           <% end %>
           <div class="col"></div>
      </div>
    </div>
  </div>
</div>