<div class="container">
  <div class="row mt-5">
    <div class="col-sm-10 mx-auto">

      <div class="row">
        <div class="col-sm-6 shadow-lg bg-white pt-5">
          <% @logs.reverse.each do |log| %>
          <div class="row">
            <div class="col-sm-12 logs mb-5 pt-3 pb-3 border border-light bg-light">

              <div class="row">
                <div class="col-sm-1"></div>
                  <div class="col-sm-7 index-user float-left">
                    <% if log.user != current_user %>
                      <%= link_to user_path(log.user_id) do %>
                        <%= attachment_image_tag log.user, :profile_image, size: "50x50", class: "rounded-circle" %>
                        <%= log.user.name %><br />
                      <% end %>
                    <% else %>
                      <%= link_to my_page_user_path(current_user.id) do %>
                        <%= attachment_image_tag current_user, :profile_image, size: "50x50", class: "rounded-circle" %>
                        <%= current_user.name %><br />
                      <% end %>
                    <% end %>

                    <%= log.dive_point %>

                    <%= log.title %>
                  </div>

                  <div class="col-sm-3 log-edit align-items-end">
                    <% if log.user == current_user %>
                      <%= link_to edit_log_path(log.id), class: "float-right pt-4" do %><i class="fas fa-cog"></i><% end %><br />
                    <% end %>
                  </div>


              </div>

              <div class="row log-image text-center">
                <div class="col-sm-12">
                  <%= link_to log_path(log.id) do %><%= attachment_image_tag log, :log_image, size: "430x430", class: "img-fluid" %><% end %><br />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4">
                  <span id="log_<%= log.id %>">
                    <%= render 'logs/favo', log: log %>
                  </span>
                </div>

                <div class="col-sm-3 text-center">
                  <i class="far fa-comments"></i><%= log.log_comments.count %>
                </div>

                <div class="col-sm-3 mx-auto text-right">
                  <strong><%= log.impressionist_count(:filter=>:session_hash) %>PV</strong><br />
                </div>

              </div>

            </div>
          </div>
          <% end %>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-3 shadow-lg border border-light bg-white pt-5" style="height: 400px; position: fixed; right: 150px; top: 130px;">
          <h3 class="text-center mb-3">My Profile</h3>

          <table class="table table-borderless">
            <thead>
              <tr><th><%= attachment_image_tag @user, :profile_image, size: "50x50", class: "rounded-circle" %>　<%= @user.nick_name %></th></tr>
              <tr><th>ライセンスランク</th><th><%= @user.license_rank %></th></tr>
              <tr><th>follow</th><th><%= @user.following_user.count %></th></tr>
              <tr><th>follower</th><th><%= @user.follower_user.count %></th></tr>
              <tr><th>投稿数</th><th><%= @user.logs.count %></th></tr>
            </thead>
          </table>
        </div>

        <div class="col"></div>
      </div>

    </div>
  </div>
</div>