<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% @logs.each do |log| %>
        <div class="logs">
          <% if log.user != current_user %>
          <%= link_to user_path(log.user_id) do %>
            <%= attachment_image_tag log.user, :profile_image, size: "100x100", class: "rounded-circle" %>
            <%= log.user.name %>
          <% end %><br />
          <% else %>
          <%= link_to my_page_user_path(current_user.id) do %>
            <%= attachment_image_tag current_user, :profile_image, size: "100x100", class: "rounded-circle" %>
            <%= current_user.name %>
          <% end %><br />
          <% end %>

          <% if current_user != log.user %>
            <% if current_user.following?(log.user) %>
              <%= link_to 'フォロー外す', user_relationships_path(log.user.id), method: :delete %>
            <% else %>
              <%= link_to 'フォローする', user_relationships_path(log.user.id), method: :POST %>
            <% end %>
          <% end %>

          <span>Diving Pint  <%= log.dive_point %></span><br />

          <% if log.user == current_user %>
            <%= link_to '編集', edit_log_path(log.id), class: "btn btn-success" %><br />
          <% end %>

          <%= link_to log_path(log.id) do %><%= attachment_image_tag log, :log_image, size: "200x200" %><% end %><br />

          <% if log.favorited_by?(current_user) %>
            <%= link_to log_favorites_path(log.id), method: :delete do %>❤︎<% end %>
          <% else %>
            <%= link_to log_favorites_path(log.id), method: :post do %>♡<% end %>
          <% end %>

          <%= log.title %><br />
          <%= log.body %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      サイドバー
    </div>
  </div>
</div>