<div class="container all">

  <div class="row mt-5">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mx-auto">

      <div class="row">

        <% if user_signed_in? %>
          <% unless current_user.logs.empty? %>
            <%= render 'logs/log', logs: @logs %>
          <% else %>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 pt-3"><br /><br />
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h1 class="logo text-center logo-text">Memories</h1>
              </div>
            </div>
            <h2 class="text-center">さぁ、思い出を投稿しよう！</h2><br /><br />
            <p class="text-center">初投稿はここからできるよ！</p>
            <p class="custom-btn"><%= link_to new_log_path, class: "btn-gradation rounded-pill" do %>投稿する<% end %></p><br />
              <% @logs.reverse.each do |log| %>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logs text-dark shadow-lg bg-white border border-light mb-5 pt-3 pb-3 content">
                <div class="row">
                  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 index-user float-left">
                    <% if log.user != current_user %>
                      <%= link_to user_path(log.user_id) ,class: "text-dark" do %>
                        <p class="text-dark">
                          <%= attachment_image_tag log.user, :profile_image, size: "50x50", class: "rounded-circle" %>
                          <%= log.user.name %>
                        </p>
                      <% end %>
                    <% else %>
                      <%= link_to my_page_user_path(current_user.id) do %>
                        <p class="text-dark">
                          <%= attachment_image_tag current_user, :profile_image, size: "50x50", class: "rounded-circle" %>
                          <%= current_user.name %>
                        </p>
                      <% end %>
                    <% end %>
                    <h5><strong><%= log.title %></strong></h5>
                    <%= log.dive_point %>
                  </div>
                  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 log-edit align-items-end">
                    <% if log.user == current_user %>
                      <%= link_to edit_log_path(log.id), class: "float-right pt-4 text-dark" do %><i class="fas fa-cog"></i><% end %><br />
                    <% end %>
                  </div>
                </div>
                <div class="row log-image text-center">
                  <%= link_to log_path(log.id) do %><%= attachment_image_tag log, :log_image, size: "1000x1000", class: "img-fluid w-100 h-auto" %><% end %><br />
                </div>
                <div class="row">
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <span id="log_bookmark_<%= log.id %>">
                      <%= render 'logs/bookmark', log: log %>
                    </span>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <span id="log_<%= log.id %>">
                      <%= render 'logs/favo', log: log %>
                    </span>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-center">
                    <i class="far fa-comments"></i><%= log.log_comments.count %>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mx-auto text-right">
                    <strong><%= log.impressionist_count %>PV</strong><br />
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            </div>
          <% end %>

        <% else %>
          <%= render 'logs/log', logs: @logs %>
        <% end %>
        <% if user_signed_in? %>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pt-5 shadow-lg bg-white border border-light text" style="height: 430px; position: fixed; right: 150px; top: 130px;">
            <h3 class="text-center logo mb-3">My Profile</h3>

            <table class="table table-borderless">
              <thead>
                <tr><th><%= attachment_image_tag current_user, :profile_image, size: "50x50", class: "rounded-circle" %>　<%= current_user.nick_name %></th></tr>
                <tr><th>ライセンス</th><th><%= current_user.license_rank %></th></tr>
                <tr><th>follow</th><th><%= current_user.following_user.count %></th></tr>
                <tr><th>follower</th><th><%= current_user.follower_user.count %></th></tr>
                <tr><th>投稿数</th><th><%= current_user.logs.count %></th></tr>
              </thead>
            </table>
          </div>
        <% else %>
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text pt-5" style="height: 150px; position: fixed; right: 150px; top: 130px;">
            <h3 class="text-center mb-3">Beginner</h3>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>