<div class="container">
  <%= form_with model: @log, local: true do |f| %>
    <div class="row">
      <div class="col-md-6 image">
        <%= f.label :画像 %><br />
        <%= f.attachment_field :log_image %>
      </div>
      <div class="col-md-6">
        <div class="form">
          <%= f.label :天気 %><br />
          <%= f.select :weather, options_for_select(Log.weathers.keys) %>
        </div>

        <div class="form">
          <%= f.label :水温 %><br />
          <%= f.select :water_temperature, options_for_select((0..30).to_a), {prompt: '選択してください'} %>℃
        </div>

        <div class="form">
          <%= f.label :潜水深度 %><br />
          <%= f.select :dive_depth, options_for_select((0..50).to_a), {prompt: '選択してください'} %>M
        </div>

        <div class="form">
          <%= f.label :潜水本数 %><br />
          <%= f.select :dive_number, options_for_select((0..5).to_a), {prompt: '選択してください'} %>本
        </div>

        <div class="form">
          <%= f.label :ダイビングポイント %><br />
          <%= f.text_field :dive_point %>
        </div>
      </div>

    </div>

    <div class="row">
      <%= f.label :タイトル %><br />
      <%= f.text_field :title %>
    </div>

    <div class="row">
      <%= f.label :内容 %><br />
      <%= f.text_area :body %>
    </div>
    <%= f.submit '投稿', class: "btn btn-success" %>
  <% end %>
</div>