<div class="container all">
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center mb-4">
          <h1 class="logo"><%= @log.user.nick_name %> Memory</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <strong>【<%= @log.title %>】</strong>
          <p><strong><%= @log.dive_point %></strong></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <span><%= @log.weather %></span> / <span><%= (@log.water_temperature).to_i %> ℃</span> / <span><%= (@log.dive_depth).to_i %> M</span> / <span><%= (@log.dive_number).to_i %> 本</span>
        </div>
        <div class="col"></div>
        <div class="col-sm-5">
          <%= @log.address %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <%= attachment_image_tag @log, :log_image, size: "400x400" %>
        </div>

        <div class="col"></div>

        <div class="col-sm-5">
          <div id="map" style="width: 400px; height: 400px;"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <span id="log_<%= @log.id %>">
                <%= render 'logs/favo', log: @log %>
              </span>
            </div>
            <div class="col-sm-1">
                <% if @log.user == current_user %>
                <%= link_to edit_log_path(@log.id), class: "float-right text-dark" do %><i class="fas fa-cog"></i><% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p><%= @log.body %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
            <%= render_with_hashtags(@log.hashbody) %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 offset-sm-3 mx-auto">
          <div id="comment">
            <%= render 'logs/comment', log: @log, logs: @logs %>
          </div>
        </div>
      </div>

      <div class="row new_comment">
        <div class="col-sm-6 offset-sm-3">
          <%= form_with(model:[@log, @logcomment], url: log_log_comments_path(@log, @logcomment)) do |f| %>
            <%= f.text_area :comment, placeholder: "#{@log.user.nick_name}のコメント" , class: "form-control rounded-pill", id: "new_comment" %><br />
            <div class="row custom-btn">
              <div class="col-sm-6 offset-sm-3">
              <%= f.submit '送信', class: "btn btn-gradation rounded-pill" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

<!--GoogleMapの記述-->
<script>

  let map;

  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
      center: {
        lat: gon.log.latitude,
        lng: gon.log.longitude
      },
      zoom: 16,
    });

    marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: gon.log.latitude,
        lng: gon.log.longitude
      },
      map: map
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MY_GOOGLE_MAP_API'] %>&callback=initMap" async defer>
</script>