<div class="container all">
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center mb-4">
          <h1 class="logo"><%= @log.user.nick_name %> Memory</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <strong>【<%= @log.title %>】</strong>
          <p><strong><%= @log.dive_point %></strong></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <span><%= @log.weather %></span> / <span><%= (@log.water_temperature).to_i %> ℃</span> / <span><%= (@log.dive_depth).to_i %> M</span> / <span><%= (@log.dive_number).to_i %> 本</span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <%= attachment_image_tag @log, :log_image, size: "400x400" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <span id="log_<%= @log.id %>">
                <%= render 'logs/favo', log: @log %>
              </span>
            </div>
            <div class="col-sm-1">
                <% if @log.user == current_user %>
                <%= link_to edit_log_path(@log.id), class: "float-right text-dark" do %><i class="fas fa-cog"></i><% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <p><%= @log.body %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
            <%= render_with_hashtags(@log.hashbody) %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 offset-sm-3 mx-auto">
          <div id="comment">
            <%= render 'logs/comment', log: @log, logs: @logs %>
          </div>
        </div>
      </div>

      <div class="row new_comment">
        <div class="col-sm-6 offset-sm-3">
          <%= form_with(model:[@log, @logcomment], url: log_log_comments_path(@log, @logcomment)) do |f| %>
            <%= f.text_area :comment, placeholder: "#{@log.user.nick_name}のコメント" , class: "form-control rounded-pill", id: "new_comment" %><br />
            <div class="row custom-btn">
              <div class="col-sm-6 offset-sm-3">
              <%= f.submit '送信', class: "btn btn-gradation rounded-pill" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>