<div class="container">
  <% if @log.user == current_user %>
    <%= link_to '編集', edit_log_path(@log.id), class: "btn btn-success" %>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <%= attachment_image_tag @log, :log_image, size: "400x400" %>
    </div>
    <div class="col-md-6">
      <p>天気：<%= @log.weather %></p>
      <p>水温：<%= (@log.water_temperature).to_i %> ℃</p>
      <p>潜水深度：<%= (@log.dive_depth).to_i %> M</p>
      <p>潜水本数：<%= (@log.dive_number).to_i %> 本</p>
      <p>ポイント：<%= @log.dive_point %></p>
    </div>
  </div>

  <div class="row">
    <p><%= @log.title %></p>
  </div>

  <div class="row">
    <p><%= @log.body %></p>
  </div>

  <div class="comment">
    <% @log.log_comments.each do |comment| %>
      <%= attachment_image_tag comment.user, :profile_image, size: "50x50", class: "rounded-circle" %>
      <%= comment.user.name %>
      <%= comment.comment %>
      <% if comment.user_id == current_user.id %>
        <%= link_to '削除', log_log_comment_path(comment.log, comment), method: :delete, class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </div>

  <div class="new_comment">
    <%= form_with(model:[@log, @logcomment], url: log_log_comments_path(@log, @logcomment), local: true) do |f| %>
      <%= f.text_area :comment, placeholder: "comment" , class: "form-control" %><br />
      <%= f.submit '送信', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>