<div class="container mt-5">
  <% if @log.user == current_user %>
    <%= link_to '編集', edit_log_path(@log.id), class: "btn btn-success" %>
  <% end %>
  <div class="row">
    <div class="col-lg-5">
      <%= attachment_image_tag @log, :log_image, size: "400x400" %>
    </div>

    <div class="col-lg-5">
      <p>天気：<%= @log.weather %></p>
      <p>水温：<%= (@log.water_temperature).to_i %> ℃</p>
      <p>潜水深度：<%= (@log.dive_depth).to_i %> M</p>
      <p>潜水本数：<%= (@log.dive_number).to_i %> 本</p>
      <p>ポイント：<%= @log.dive_point %></p>
    </div>
  </div>

  <div class="row">
    <p><%= @log.title %></p>
  </div>

  <div class="row">
    <p><%= @log.body %></p>
  </div>

  <span id="log_<%= @log.id %>">
    <%= render 'logs/favo', log: @log %>
  </span>

  <strong>閲覧数：<%= @log.impressionist_count(:filter=>:session_hash) %></strong>

  <div id="comment">
    <%= render 'logs/comment', log: @log %>
  </div>

  <div class="new_comment">
    <%= form_with(model:[@log, @logcomment], url: log_log_comments_path(@log, @logcomment)) do |f| %>
      <%= f.text_area :comment, placeholder: "comment" , class: "form-control", id: "new_comment" %><br />
      <%= f.submit '送信', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>