<!DOCTYPE html>
<html>
  <head>
    <title>Portforio1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm bg-light">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to 'DivIn', root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNavDropDown" aria-controls="navbarNavDropDown" aria-expanded="false" aria-label="Toggle navgation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropDown">
            <ul class="navbar-nav">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to '一覧画面', logs_path,  class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to '新規投稿', new_log_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to '新規登録', new_user_registration_path, class: "nav-link" %>
                </li>

                <li class="nav-item">
                  <%= link_to 'ログイン', new_user_session_path, class: "nav-link" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
