<!DOCTYPE html>
<html>
  <head>
    <title>Portforio1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-sm">
        <div class="container">
          <%= link_to root_path, class: "navbar-bland deco navbar-brand-center" do %><h1 class="nav-logo">DivIn</h1><% end %>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
             <ul class="navbar-nav">
              <%= render "layouts/header" %>
            </ul>
          </div>
        
          <div id="sp-menu">
            <ul>
              <%= render "layouts/humburger" %>
            </ul>
          </div>
        
          <div id="hm-icon">
            <span class="menu-trigger">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>

        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
